body {
   background: url(images/pine.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-color: black
}

